<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem name="OSC Coupons" id="checkout_coupon_menu_parent" parent="sales_team.menu_base_partner" sequence="10"/>
        <menuitem name="Discount Coupons" id="checkout_coupon_menu" parent="checkout_coupon_menu_parent" sequence="10"
                  action="checkout_coupon_action"/>
        <menuitem name="History" id="checkout_coupon_history" parent="checkout_coupon_menu_parent" sequence="15"
                  action="checkout_coupon_history_list"/>
        <menuitem name="Settings" id="checkout_coupon_settings_menu" parent="checkout_coupon_menu_parent" sequence="20"
                  action="checkout_coupon_settings"/>

</odoo>