<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <record model="ir.ui.view" id="checkout_coupon_settings_form">
        <field name="name">Coupon settings</field>
        <field name="model">website.config.settings</field>
        <field name="arch" type="xml">
            <form string="Coupon settings" class="oe_form_configuration">
                <header style="padding: 0 0 10px 10px;">
                    <h2>
                        Coupon state:
                        <span attrs="{'invisible': [('use_osc_coupon', '=', False)]}" style="color: #005e43">active</span>
                        <span attrs="{'invisible': [('use_osc_coupon', '=', True)]}" style="color: #d9534f">disabled</span>
                    </h2>
                    <button string="Activate coupons" type="object" name="activate_coupons" class="oe_highlight" attrs="{'invisible': [('use_osc_coupon', '=', True)]}"/>
                    <button string="Deactivate coupons" type="object" name="deactivate_coupons" attrs="{'invisible': [('use_osc_coupon', '=', False)]}"/>
                </header>
                <div>
                    <group string="General discount coupon settings" colspan="4" col="4">
                        <group colspan="2" col="2" invisible="0">
                            <field name="use_osc_coupon" readonly="1"/>
                            <field name="website_id" readonly="1" string="Web to apply"/>
                        </group>
                    </group>
                </div>
            </form>
        </field>
    </record>

    <record model="ir.actions.act_window" id="checkout_coupon_settings">
        <field name="name">Coupon settings</field>
        <field name="res_model">website.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
    </record>

</odoo>