.sort-order-button {
    float: left;
    font-size: 30px;
    padding: 4px 12px 4px 0px;
    text-align: right;
    width: 50px;
}
.pos .popup.popup-selection .selection-item {
    background-color: #ccc !important;
    cursor: pointer;
    margin: 2% 0% 0% 2%;
    font-size: 30px;
    float: left;
    padding: 0%;
    text-align: center;
    width: 47%;
}
.pos .category-button {
    font-size: 20px;
    width: 160px;
    height: 160px;
}
.pos .category-button .category-img {
    width: 160px;
    height: 160px;
}
.pos .category-button .category-img img {
    max-height: 160px;
    max-width: 160px;
}
.screen .centered-content{
    max-width: 712px;
}
.pos-receipt .pos-receipt-contact {
    text-align: center;
    font-size: 90%;
}

.table.borderless th, .table.borderless td {
    border: unset !important;
}

div#total table.borderless tr.o_subtotal td, div#total table.borderless tr.o_total td {
    border: unset !important;
}

@media (max-width: 1448px) {
    .pos .order-button.floor-button > span {
        display: none;
    }
    .pos .order-button.floor-button > span.table-name {
        display: contents;
    }
}

.control-button-service {
    color: rgb(226, 226, 226);
    background: rgb(85, 85, 85);
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    font-weight: bold;
    line-height: 28px;
    width: 28px;
    border-radius: 50%;
    text-align: center;
    margin-left: 1px;
    margin-right: 4px;
}
