
.telesale .customer-list-screen{
    position: relative;
    width: 100%;
    height:100%;
}
.telesale .customer-list-content{
    position: relative;
    width: 100%;
    height:100%;

}
.telesale .customer-list-content .top-content {
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: dashed 1px rgb(215,215,215);
}
.telesale .customer-list-content .searchbox {
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}

.telesale .customer-list-content input {
    width: 100%;
}

.telesale .customer-list-content .button {
    position: relative;
    padding: 3px 13px;
    font-size: 20px;
    background: rgb(230, 230, 230);
    margin: 12px;
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
    transition: all 150ms linear;
}

.telesale .customer-list-content .button.next {
    right: 0px;
    margin-right: 16px;
}

.telesale .customer-list-content .button.new-customer {

}