
.telesale .textcenter{
    text-align: center;
}

.telesale .order-history-screen{
    width: 100%;
    height:100%;
    position:relative;
}

.telesale .order-history-search{
    width: 100%;
    height: 7%;
    border-bottom: solid 1px #CECBCB;
}

.telesale .order-history-search .input-column{
    width: 24%;
    height: 100%;
    float:left;
    display:table;
    text-align: center;
}

.telesale .order-history-search .input-search input{
    width: 20%;
    margin: auto;
}



.telesale .order-history-content{
    width: 100%;
    height:93%;
    overflow: auto;
}

.telesale .customer{
    width: 97%;
}

/*TABLE WITH ORDERS*/

.telesale .history-line-table {
    margin-top: 0.2%;
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-size: 1.2vmin;
    line-height: 2vh;
}

/*NEW STYLE */
.telesale .order-history-screen button {
    color: black;
    vertical-align: middle;
    margin-right: 0px;
    border: 1px solid #ffffff;
    background: #9ba3ff;
    width: 100%;
    padding: 0px;
    font-size: 1.4vmin;
}
.telesale .order-history-screen button {
    color: black;
    vertical-align: middle;
    margin-right: 0px;
    border: 1px solid #000000;
    background: #c7c7c7;
    width: 100%;
    padding: 0px;
    font-size: 1.4vmin;
}
.telesale .history-line-table th,
.telesale .history-line-table td {
    padding: 0px 8px;
}
.telesale .history-line-table tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}

.telesale .history-line-table thead > tr,
.telesale .history-line-table tr:nth-child(even) {
    background: rgb(247,247,247);
}
.telesale .history-line-table tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.telesale .history-line-table tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.telesale .history-line-table tr.lowlight:nth-child(even){
    transition: all 150ms linear;
}
.telesale .history-line-table th.head-name{
    width: 5%;
}
.telesale .history-line-table th.head-customer{
    width: 40%;
}
/* x2 */
.telesale .history-line-table th.head-date{
    width: 10%;
}
.telesale .history-line-table th.head-total{
    width: 10%;
}
.telesale .history-line-table th.head-state{
    width: 5%;
}
.telesale .history-line-table th.head-add{
    width: 10%;
}
.telesale .history-line-table th.head-create{
    width: 10%;
}


