
/***************************************************************************************************************/
/******************************************** SUSTITUTE POP-UP  ************************************************/
/***************************************************************************************************************/
.telesale .filter-customer-pop-up{
    position: absolute;
    left:30%;
    top:50%;
    width:60%;
    height:50%;
    margin-left: -15%;
    margin-top: -10%;
    padding:10px;
    padding-top:20px;
    text-align:center;
    font-size:1.5vmin;
    font-weight:bold;
    background-color: #B1B1B1;
    border-radius: 10px;
    box-shadow: 0px -1px white, 0px 1px white, 0px 4px #949494, 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index:1200;
}

.telesale .filter-customer-pop-up .sust-widget-content{
    height:80%;
    /*overflow: auto;*/
}
.telesale  .filter-customer-pop-up .close-block{
    height: 20%;
    width: 100%;
    display: table;
    text-align: center;
}
.telesale  .filter-customer-pop-up .close-block-cell{
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}


.telesale  .filter-customer-pop-up .sustitute-table{
    margin-top: 0.2%;
    width: 99%;
    border: 1px solid #000;
    margin-left: 0.5%;
    table-layout: fixed;
    color: black;
    font-size: 1.5vmin;
    overflow: auto;
}

.telesale .filter-customer-pop-up button {
    color: black;
    vertical-align: middle;
    margin-right:0px;
    border: 1px solid #353A7E;
    background: #7f82ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#b2b3d7), to(#7f82ac));
    background: -moz-linear-gradient(#b2b3d7, #7f82ac);
    background:  -ms-linear-gradient(#b2b3d7, #7f82ac);
    background:      linear-gradient(#b2b3d7, #7f82ac);
    width: 100%;
    padding: 0px;
    font-size: 1.5vmin;
}

.telesale .filter-customer-pop-up button#close-filter {
    height: 100%;
    width: 20%;
    font-size:1.8vmin;
}



.telesale  .filter-customer-pop-up .sustitute-table th{
    border: 1px solid #000;
    /*width: 30%;*/
    /*height: 9%;*/
    background: #7f82ac;
    padding-left: 2px;
    font-size: 1.7vmin;
    text-align: center;
}

.telesale  .filter-customer-pop-up .sustitute-table th.sust-header-name{
    width: 60%;
}
.telesale  .filter-customer-pop-up .sustitute-table th.sust-header-code{
    width: 15%;
}
.telesale  .filter-customer-pop-up .sustitute-table th.sust-header-stock{
    width: 15%;
}
.telesale  .filter-customer-pop-up .sustitute-table th.sust-header-add{
    width: 10%;
}

.telesale  .filter-customer-pop-up .sustitute-table td{
    border: 1px solid #000;
    height: 100%;
    font-size: 1.7vmin;
    text-align: left;
    vertical-align: middle;
    padding-left: 0.5%;
}

.telesale  .filter-customer-pop-up .sustitute-table td.sust-cell-name{
    width: 60%;
}
.telesale  .filter-customer-pop-up .sustitute-table td.sust-cell-code{
    width: 15%;
}
.telesale  .filter-customer-pop-up .sustitute-table td.sust-cell-stock{
    width: 15%;
    text-align: right;
    padding-right: 0.5vmin;
}
.telesale  .filter-customer-pop-up .sustitute-table td.sust-cell-add{
    width: 10%;
    text-align: center;
}
