.telesale .sale-history-screen{
    width: 100%;
    height: 100%;
    position: relative;
}
.telesale .history-header{
    width: 100%;
    height: 5%;
    display: table;
    border-bottom: solid 1px #CECBCB;
}
.telesale .history-header .center{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

.telesale .history-header .center .paginator{
    display:inline;
    padding-left:10px;
    padding-right:10px;
}

.telesale .sale-history-content{
    height:95%;
    overflow: auto;
    font-size: 1.2vmin;
}

.telesale .history-table{
    margin-top: 0.2%;
    width: 99%;
/*    border: 1px solid #000;
*/    margin-left: 0.5%;
    margin-right:0.5%;
}


.telesale .history-table th.sh-head-name{
    width: 50%;
}
.telesale .history-table th.sh-head-date{
    width: 10%;
}
.telesale .history-table th.sh-head-qty{
    width: 5%;
}
.telesale .history-table th.sh-head-price{
    width: 5%;
}
.telesale .history-table th.sh-head-discount{
    width: 5%;
}
.telesale .history-table th.sh-head-subtotal{
    width: 10%;
}
.telesale .history-table th.sh-head-add-qty{
    width: 5%;
}
.telesale .history-table th.sh-head-add-price{
    width: 5%;
}
.telesale .history-table th.sh-head-add{
    width: 5%;
}

.telesale .history-table button {
    color: black;
    vertical-align: middle;
    margin-right: 0px;
    border: 1px solid #000000;
    background: #c7c7c7;
    width: 100%;
    padding: 0px;
    font-size: 1.4vmin;
}
.telesale .history-table th, .telesale .history-table td {
    padding: 0px 8px;
}
.telesale .history-table tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}

.telesale .history-table thead > tr,
.telesale .history-table tr:nth-child(even) {
    background: rgb(247,247,247);
}
.telesale .history-table tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.telesale .history-table tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.telesale .history-table tr.lowlight:nth-child(even){
    transition: all 150ms linear;
}

.telesale .history-table tr.in-order{
    background-color: #fcff45;
}

.telesale .history-table td.line-stock{
    background-color: #93ff91;
}

.telesale .history-table td.line-no-stock{
    background-color: #ff7878;
}

.telesale .history-header .center button{
    color: black;
    font-size: 1.4vmin;
    font-weight: normal;
    border: 2px solid #353A7E;
    background: #7f82ac;
}
