.telesale .grid_popup {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 90%;
    height: 90%;
    margin-left: -15%;
    margin-top: -10%;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.5vmin;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px -1px white, 0px 1px white, 0px 4px #949494, 0px 10px 20px rgba(0, 0, 0, 0.3);
    z-index: 1200;
    
}

.telesale .grid-content {
        height: 95%;
        width: 100%;
        font-size: 1.2vmin;
        overflow: auto; 
}

.telesale .grid_popup .button-zone{
        width: 100%;
        margin-bottom: 3vh;
}

.telesale .grid_popup .button-zone button{
        color: black;
        height: 100%;
        font-size: 1.1vmin;
        font-weight: normal;
        border: 2px solid #353A7E;
        background: #7f82ac;
}

.telesale .grid_popup .button-zone #add-variants-button{
    background: #0f8a0d;
}

.telesale .grid-content .grid-table tbody{
}

.telesale .grid-content .grid-table {
        border: solid 1px black;
        border-collapse: collapse;
        height: 100%;
        width: 100%;
}
.telesale .grid-content .grid-table tr:nth-child(even){background-color: #c1c1c1}

.telesale .grid-content .grid-table thead tr {
    border: solid 1px black;
    text-align: center;
    background: #c1c1c1;
}

.telesale .grid-content .grid-table thead th {
    text-align: center;
    border: solid 1px black;
    background-color: #c1c1c1
    font-weight: normal;
}

.telesale .grid-content .grid-table tbody th {
    text-align: left;
    padding: 4px;
    border: solid 1px black;
    font-weight: normal;
}

.telesale .grid-content .grid-table td {
    border: solid 1px black;
    padding: 4px;
    cursor: pointer;
    min-width: 150px;
}

.telesale .grid-content .grid-table .grid-cell div.grid-stock{
    width: 100%;
    background-color: #0f8a0d;
    border: solid 3px black;
    margin-bottom: 2px;
    font-size: 1.1vh;
    color: white;
    font-weight: normal;
}

.telesale .grid-content .grid-table .grid-cell div.grid-no-stock{
    width: 100%;
    background-color: #bf3d3d;
    border: solid 3px black;
    margin-bottom: 2px;
    font-size: 1.1vh;
    color: white;
    font-weight: normal;
}

.telesale .grid-content .grid-table .grid-cell div.grid-input{
    width:100%;
}

.telesale .grid-content .grid-table .grid-cell input {
    height: 2vh;
}

.telesale .grid-content .grid-table .grid-cell label {
/*    display: inline-block;
*/  width: 100%;
    text-align: left;
    font-size: 1.1vmin;
}

.telesale .grid-content .grid-table .grid-cell input {
    /*width: 70%;*/
}

.telesale .grid-content .grid-table td.cell-selected {
    background-color: #fcff45;
}

.telesale  #leftpart .order-container .order-line-table th.header-grid{
    width: 4%;
}

.telesale  #leftpart .order-container .order-line-table th.header-template{
    width: 30%;
}

