<ion-header>
<ion-item>
  <ion-label>Hola</ion-label>
</ion-item>
</ion-header>
<ion-content>
  <form (ngSubmit)="this.conectarApp(true)">
    <ion-grid text-center>
      <ion-row>
        <ion-col width-100>
          <div style="text-align: center">
            <img style="height: 100px" src="assets/imgs/lasrias.gif" alt="Warehouse APP" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
        
        <ion-list *ngIf="!cargar">
          <ion-item>
            <ion-label color="primary" stacked>
              <span class="custom-font-size">Usuario</span>
            </ion-label>
            <ion-input type="email" [(ngModel)]="conexion.username" required name='username' placeholder="Ingresa Usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="primary" stacked>
              <span class="custom-font-size">Contraseña</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="conexion.password" required name='password' placeholder="Ingresa Contraseña"></ion-input>
          </ion-item>

        </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <button ion-button full type="submit">
            <span class="custom-font-size">Login</span>
          </button>

        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col width-100>
            <ion-item>
                <ion-label color="dark">Servidor</ion-label>
                <ion-toggle [(ngModel)]="login_server" [ngModelOptions] = {standalone:true} ></ion-toggle>
            </ion-item>     
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-list *ngIf="!cargar && login_server" >
            <ion-item>
                <ion-label fixed>{{ 'DATABASE' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="conexion.database" name="database"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>{{ 'URL' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="conexion.url" name="url"></ion-input>
              </ion-item>
        
              <ion-item>
                <ion-label fixed>{{ 'PORT' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="conexion.port" name="port"></ion-input>
              </ion-item>
              <ion-item>
              <ion-label color="primary" stacked>
                <span class="custom-font-size">URL</span>
              </ion-label>
              <ion-input [(ngModel)]="conexion.url" required name='url' placeholder="Ingresa url"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>
                <span class="custom-font-size">Port</span>
              </ion-label>
              <ion-input type="number" [(ngModel)]="conexion.port" required name='port' placeholder="Ingresa puerto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" stacked>
                <span class="custom-font-size">Base de datos</span>
              </ion-label>
              <ion-input [(ngModel)]="conexion.db" required name='db' placeholder="Ingresa base de datos"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

  <div *ngIf="cargar" style="text-align: center">
    <ion-spinner name="circles"></ion-spinner>
    <br>
    <b>Verificando...</b>
  </div>
</ion-content>